<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/shopping/shop.css">

  <title>Shopping</title>
</head>

<body>

  <section id="product">
    <div class="container">
      <h2>Solar Product</h2>
      <div class="box">
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Panel</h5>
              <a href="/solar-panel" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop10.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Battery</h5>
              <a href="/solar-battery" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Inverter</h5>
              <a href="/solar-inverter" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Fan</h5>
              <a href="/solar-fan" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Water Heater</h5>
              <a href="/solar-water-heater" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Charger</h5>
              <a href="/solar-charger" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Lamp</h5>
              <a href="/solar-lamp" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Calculator</h5>
              <a href="/solar-calculator" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Torch</h5>
              <a href="/solar-torch" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Cooker</h5>
              <a href="/solar-cooker" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="card">
            <img src="/static/img/shopping/shop8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Solar Watch</h5>
              <a href="/solar-watch" class="btn btn-primary">know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

</body>

</html>