<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- All Css file here --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {{!-- carousel css file here --}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

        <link rel="stylesheet" href="/static/css/shopping/solar-panel.css">

    <title>Solar Inverter</title>

</head>

<body>
    <section class="solar">
        <h2 class="heading">Solar<span>Cooker</span></h2>
        <div class="info">
            <div class="first">
                <h3>What is solar Cooker ?</h3>
                <p>A solar cooker is a device which uses the energy of direct sunlight to heat, cook or pasteurize drink
                    and other food materials. <br>
                    Many solar cookers currently in use are relatively inexpensive, low-tech devices, although some are
                    as powerful. <br>
                    As expensive as traditional stoves, and advanced, large-scale solar cookers can cook for hundreds of
                    people.</p>
            </div>
            <div class="first">
                <h3>Working principle of solar Cooker ?</h3>
                <p>We use a solar cooker for cooking the food by using the energy radiated by the Sun. <br>
                    Solar cooker works on the principle that sunlight warms the pot, which is used for cooking the food.
                    <br>
                    Now, this warming of the pot occurs by converting light energy to heat energy. <br>
                    Concave mirrors are used in these types of cookers because these mirrors reflect sunlight into a
                    single focal point.
                </p>
            </div>
            <div class="first">
                <h3> Solar Cooking Healthy ?</h3>
                <p>
                    Cooking the food in a solar cooker is healthy. The food doesn’t lose its essential vitamins and
                    other nutrients. <br>
                    Furthermore, the food prepared is free of mutagens and carcinogens produced in traditional high-heat
                    methods.
                </p>
            </div>
            <div class="first">
                <h3>How could Solar Cooking Help Prevent illness ?</h3>
                <p>
                    The solar cooker works as a supernatural weapon to combat environmental issues like air pollution. <br>
                    It doesn’t leave residues like ash and acts as a source to substitute traditional cooking methods,
                    which impact the environment.
                </p>
            </div>
        </div>
        </div>
    </section>

    <section class="buy">
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop8.1.jpg" alt="">
                    <div class="text">Solar Cooker Box</div>
                    <p class="para">Solar Cooker</p>
                    <p>Solar Cooker Box Type (3 litres) with 4 Steel pots</p>
                    <p><i class="fas fa-rupee-sign"></i> 10,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop8.2.jpg" alt="">
                    <div class="text">RUDRA SOLAR</div>
                    <p class="para">Solar Cooker</p>
                    <p>ENERGY Solar Box 4 Pot Cooker, 500x500x150mm (Silver)</p>
                    <p><i class="fas fa-rupee-sign"></i> 2,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop8.3.jpg" alt="">
                    <div class="text">CURIOUS BRAIN®</div>
                    <p class="para">Solar Cooker</p>
                    <p>DO-IT-Yourself KIT for Girls & Boys- Science FAIR School Model- STEM</p>
                    <p><i class="fas fa-rupee-sign"></i> 8,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop8.4.jpeg" alt="">
                    <div class="text">Solar Cooker</div>
                    <p class="para">Solar Cooker</p>
                    <p>WE CARE PSW PRODUCTION Solar Cooker (Multicolor)</p>
                    <p><i class="fas fa-rupee-sign"></i> 2,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop8.5.png" alt="">
                    <div class="text">Haines Solar Cookers</div>
                    <p class="para">Solar Cooker</p>
                    <p> D.I.Y KIT - STEM Activity Set - Tinkering LAB Model</p>
                    <p><i class="fas fa-rupee-sign"></i> 4,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
        </div>
    </section>

    {{!-- All js file here --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- carousel js file here --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/js/slider.js"></script>
    
    <script src="/static/js/payments/shoping_checkout.js"></script>

</body>

</html>