<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- All Css file here --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {{!-- carousel css file here --}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

        <link rel="stylesheet" href="/static/css/shopping/solar-panel.css">

    <title>Solar Inverter</title>

</head>

<body>
    <section class="solar">
        <h2 class="heading">Solar<span>Fan</span></h2>
        <div class="info">
            <div class="first">
                <h3>What is an solar fan ?</h3>
                <p>A solar fan is a mechanical fan powered by solar panels. <br>
                 The solar panels are either mounted on the device or are installed independently. <br> 
                 Solar fans mostly do not require secondary power sources other than solar power, as most of them are used for cooling purposes during day time. <br>
                 Some types are also used for heating purposes. It runs the fastest when it is the hottest outside providing savings on air conditioning costs.</p>
            </div>
            <div class="first">
                <h3>How does solar fan work ?</h3>
                <p>The Main function of a solar attic fan. <br>
                Is to Cool down a hot attic by pushing hot air from the attic outside and drawing in cooler air from outside. <br>
                By providing steady and constants airflow into the attic, a solar attic fan causes warm and moist air to be vented out.
                </p>
            </div>
            <div class="first">
                <h3>use of solar fan ?</h3>
                <p>
                    solar fan with solar panel work directly on solar panel. <br>
                    free electricity from sun belifal brand. <br>
                    NO BATTERY, BATTERY LESS FAN. 
                </p>
            </div>
            <div class="first">
                <h3>Advantages of solar fan ?</h3>
                <p>
                    A Solar fan is more environmentally Friendly. <br>
                    Risk of electricity accidents are elimineted as there are no electric cords attacked to the solar fan. <br>
                    A cordless applicate offer much more mobility compared to conventional fan.
                </p>
            </div>
        </div>
        </div>
    </section>

    <section class="buy">
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop2.1.jpg" alt="">
                    <div class="text">Sun King</div>
                    <p class="para">Solar Fan</p>
                    <p>Solar Powered and Portable 16" IN Table Fan, Multicolour</p>
                    <p><i class="fas fa-rupee-sign"></i> 5,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop2.2.jpg" alt="">
                    <div class="text">Lovely Solar Fan</div>
                    <p class="para">Solar Fan</p>
                    <p>DC 12Volt - 24Watt 12" SanChi Table Fan,  solar fan with solar panel </p>
                    <p><i class="fas fa-rupee-sign"></i> 1,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop2.3.jpg" alt="">
                    <div class="text">ZOSOE Rechargeable</div>
                    <p class="para">Solar Fan</p>
                    <p>LED Light, Table Fan for Home, Table Fans, Table Fan for Office Desk</p>
                    <p><i class="fas fa-rupee-sign"></i> 999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop2.4.jpg" alt="">
                    <div class="text">Saish Solutions</div>
                    <p class="para">Solar Fan</p>
                    <p>12 volts 30 Watts Solar BLDC Ceiling Fan, Energy Saving Fan with 3 Blades</p>
                    <p><i class="fas fa-rupee-sign"></i> 7,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop2.5.jpg" alt="">
                    <div class="text">Fan Mini Ventilator</div>
                    <p class="para">Solar Inverter</p>
                    <p>10W 12V Monocrystalline with Solar Exhaust Fan for Greenhouse</p>
                    <p><i class="fas fa-rupee-sign"></i> 5,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
        </div>
    </section>

    {{!-- All js file here --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- carousel js file here --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/js/slider.js"></script>
    
    <script src="/static/js/payments/shoping_checkout.js"></script>

</body>

</html>