<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- All Css file here --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {{!-- carousel css file here --}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

        <link rel="stylesheet" href="/static/css/shopping/solar-panel.css">

    <title>Solar Inverter</title>

</head>

<body>
    <section class="solar">
        <h2 class="heading">Solar<span>Inverter</span></h2>
        <div class="info">
            <div class="first">
                <h3>What is an Inverter ?</h3>
                <p>An inverter is one of the most important pieces of equipment in a solar energy system. <br>
                    It’s a device that converts direct current (DC) electricity, which is what a solar panel generates,
                    to alternating current (AC) electricity, which the electrical grid uses</p>
            </div>
            <div class="first">
                <h3>Working principle of solar inverter ?</h3>
                <p>The working of solar inverter is used to the power from a DC source such as the solar panel and
                    convert into AC power. <br>
                    The generated power range will be from 250 V to 600 V. This conversion process can be done with the
                    help of a set of IGBTs (Insulated Gate Bipolar Transistors). <br>
                    When these solid-state devices are connected in the form of H-Bridge, then it oscillates from the DC
                    power to AC power.
                </p>
            </div>
            <div class="first">
                <h3>What is the life of solar inverter ?</h3>
                <p>
                    Although the estimated lifespan of solar inverters is ten years, there are cases where inverters
                    have lasted for 20 years or more. <br>
                    Most inverters require regular maintenance in order to ensure that they are working efficiently;
                    inverters sometimes do require repair.
                </p>
            </div>
            <div class="first">
                <h3>What is solar inverter PDF ?</h3>
                <p>
                    A Solar inverter is similar to a normal electric. inverter but uses the energy of the Sun i.e. <br>
                    solar energy. A solar inverter helps in converting the direct current into alternate current with
                    the help of. <br> solar power. Direct power is that power which runs in one direction inside the
                    circuit and helps
                </p>
            </div>
        </div>
        </div>
    </section>

    <section class="buy">
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop1.1.jpg" alt="">
                    <div class="text">Luminous Power</div>
                    <p class="para">Solar Inverter</p>
                    <p>1100 Pure Sine Wave Inverter for Home, Office, and Shops</p>
                    <p><i class="fas fa-rupee-sign"></i> 10,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop1.2.jpg" alt="">
                    <div class="text">microtek M-sun</div>
                    <p class="para">Solar Inverter</p>
                    <p>solar inverter ups Msun 1235 (935 va) / 12v pure sine wave inverter</p>
                    <p><i class="fas fa-rupee-sign"></i> 31,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop1.3.jpg" alt="">
                    <div class="text">Luminous NXG</div>
                    <p class="para">Solar Inverter</p>
                    <p>Luminous NXG 1100 12V 700VA Solar UPS, Multicolour</p>
                    <p><i class="fas fa-rupee-sign"></i> 8,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop1.4.jpg" alt="">
                    <div class="text"> URBAN URJA</div>
                    <p class="para">Solar Inverter</p>
                    <p>2500 VA / 2.5kVA ; 24 Volt ; 50 A MPPT Solar PCU Inverter with 10x MC4 Connectors</p>
                    <p><i class="fas fa-rupee-sign"></i> 7,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop1.5.jpg" alt="">
                    <div class="text">UTL Heliac-1200/50A</div>
                    <p class="para">Solar Inverter</p>
                    <p>1000VA/12V PWM Pure Sine Wave Solar Inverter with LCD Display (Multicolour)</p>
                    <p><i class="fas fa-rupee-sign"></i> 15,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
        </div>
    </section>

    {{!-- All js file here --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- carousel js file here --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/js/slider.js"></script>
    
    <script src="/static/js/payments/shoping_checkout.js"></script>

</body>

</html>