<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- All Css file here --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {{!-- carousel css file here --}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

        <link rel="stylesheet" href="/static/css/shopping/solar-panel.css">

    <title>Solar Inverter</title>

</head>

<body>
    <section class="solar">
        <h2 class="heading">Solar<span>Lamp</span></h2>
        <div class="info">
            <div class="first">
                <h3>What is solar Lamp ?</h3>
                <p> solar light or solar lantern, is a lighting system composed of a LED lamp, solar panels, battery, charge controller and there may also be an inverter. The lamp operates on electricity from batteries, charged through the use of solar panel (solar photovoltaic panel) <br>
                Solar-powered household lighting can replace other light sources like candles or kerosene lamps</p>
            </div>
            <div class="first">
                <h3>Working principle of solar Lamp ?</h3>
                <p>Solar lights work because of the photovoltaic effect. The most important part of a solar light is the photovoltaic or solar cell. <br>
                 The solar cell is the part that converts sunlight into direct electrical current. You can clearly see the solar cell as a dark panel at the top of a solar light. <br>
                  As sunlight passes through the solar cell, it excites the negatively-charged electrons and pushes them into the positively-charged spaces.
                </p>
            </div>
            <div class="first">
                <h3>Uses of solar Lamp ?</h3>
                <p>
                   In developing countries the solar lantern is a cheap alternative to a Solar Home System (SHS) providing 4-5 hours of high quality lighting service. <br>
                    It provides higher quality light than the use of candles or kerosene lamps. They are also used to provide street lighting in rural areas.
                </p>
            </div>
            <div class="first">
                <h3>How long does it takes for solar lamp to starting working ?</h3>
                <p>
                   Solar lights are known to be resilient by design. They are put outside under a sturdy element to withstand various weather conditions. <br>
                    As a result, today, they are fast becoming an alternative lighting mechanism in offices, homes, and even cars!
                </p>
            </div>
        </div>
        </div>
    </section>

    <section class="buy">
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop5.1.jpg" alt="">
                    <div class="text">Sun King Pro</div>
                    <p class="para">Solar Lamp</p>
                    <p> 300- Emergency Solar Light with USB Mobile Charging (5.50 Watts, Yellow)</p>
                    <p><i class="fas fa-rupee-sign"></i> 1,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop5.2.jpg" alt="">
                    <div class="text">WIDEWINGS LED</div>
                    <p class="para">Solar Lamp</p>
                    <p> Outdoor Security Lights with Motion Sensor Solar Powered Wireless Waterproof</p>
                    <p><i class="fas fa-rupee-sign"></i> 1,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop5.3.jpg" alt="">
                    <div class="text">d.light S3</div>
                    <p class="para">Solar Lamp</p>
                    <p>Portable Solar Lantern works as Study lamp, Emergency light, Solar lights, Solar lamp</p>
                    <p><i class="fas fa-rupee-sign"></i> 999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop5.4.jpg" alt="">
                    <div class="text">Voroly  Garden Light</div>
                    <p class="para">Solar Lamp</p>
                    <p>Scene Torch Mashaal Light IP65 Waterproof Outdoor Solar Lamp Auto On/Off</p>
                    <p><i class="fas fa-rupee-sign"></i> 1,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop5.5.jpg" alt="">
                    <div class="text">Hardoll Solar Lights</div>
                    <p class="para">Solar Lamp</p>
                    <p>Outdoor Home Garden Waterproof Pillar Wall Gate Post Lamp(Round Shape-Pack of 2)</p>
                    <p><i class="fas fa-rupee-sign"></i> 4,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
        </div>
    </section>

    {{!-- All js file here --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- carousel js file here --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/js/slider.js"></script>
    
    <script src="/static/js/payments/shoping_checkout.js"></script>

</body>

</html>