<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- All Css file here --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {{!-- carousel css file here --}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

        <link rel="stylesheet" href="/static/css/shopping/solar-panel.css">

    <title>Solar Inverter</title>
</head>

<body>
    <section class="solar">
        <h2 class="heading">Solar<span>Calculator</span></h2>
        <div class="info">
            <div class="first">
                <h3>What is solar Calculator ?</h3>
                <p>Solar-powered calculators are hand-held electronic calculators powered by solar cells mounted on the
                    device. <br>
                    Solar calculators use liquid crystal displays, as they are power-efficient and capable of operating
                    in the low-voltage range of 1.5–2 V. <br>
                    Some models also use a light pipe to converge light onto the solar cells.
                </p>
            </div>
            <div class="first">
                <h3>Working of solar Calculator ?</h3>
                <p>Anylite Technology is the name of a solar technology used by Texas Instruments since the 1980s in
                    some calculators. <br> They are intended to be able to function with less light than other solar
                    calculators. <br> This was essentially achieved by using relatively large photovoltaic solar cells.
                    <br> The use of Anylite technology in modern TI calculators is denoted by a lowercase "a" at the end
                    of the model number.
                </p>
            </div>
            <div class="first">
                <h3>How long do solar Calculator ?</h3>
                <p>
                    The purpose of creating solar-powered calculators was to make them long-lasting, so in general, they
                    have a very long lifetime. <br> Although a definitive lifespan is generally hard to pinpoint, a
                    solar-powered calculator is likely to last 5-15 years, <br> with many people claiming that their
                    calculators have lasted them for over 20 years!


                </p>
            </div>
            <div class="first">
                <h3>Do you calculator use batteries ?</h3>
                <p>
                    This battery life calculator estimates how long a battery will last, based on nominal battery
                    capacity and the average current that a load is drawing from it. <br> Battery capacity is typically
                    measured in Amp-hours (Ah) or milliamp-hours (mAh), although Watt-hours (Wh) is occasionally used. <br>
                    You can convert Watt-hours to Amp-hours by dividing by the battery’s nominal voltage (V) as follows:
                    Ah = Wh / V
                </p>
            </div>
        </div>
        </div>
    </section>

    <section class="buy">
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop6.1.jpg" alt="">
                    <div class="text">deli W1589</div>
                    <p class="para">Solar Calculator</p>
                    <p>deli W1589 Modern Compact Calculator 12 Digit, Blue</p>
                    <p><i class="fas fa-rupee-sign"></i> 999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop6.2.jpg" alt="">
                    <div class="text">Festnight Folding</div>
                    <p class="para">Solar Calculator</p>
                    <p>12 Digits 112 Steps Check & Correct Battery & Solar Dual Powered</p>
                    <p><i class="fas fa-rupee-sign"></i> 1,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop6.3.jpg" alt="">
                    <div class="text">Casio</div>
                    <p class="para">Solar Calculator</p>
                    <p>Casio JW-200SC-PK Premium & Stylish Calculator (Pink)</p>
                    <p><i class="fas fa-rupee-sign"></i> 1,999</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop6.4.jpg" alt="">
                    <div class="text">Mini Calculator</div>
                    <p class="para">Solar Calculator</p>
                    <p>8 Digits Display Solar & Battery Dual Power Portable Electronics Calculator</p>
                    <p><i class="fas fa-rupee-sign"></i> 7,499</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/img/shopping/shop6.5.jpg" alt="">
                    <div class="text">Desktop Calculator</div>
                    <p class="para">Solar Calculator</p>
                    <p>12-Digit Large LCD Display Solar & Battery Dual Power</p>
                    <p><i class="fas fa-rupee-sign"></i> 1,249</p>
                    <a href="/payment-receipt"><button class="btn btn-outline-primary">Buy Now</button></a>
                </div>
            </div>
        </div>
    </section>

    {{!-- All js file here --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- carousel js file here --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/js/slider.js"></script>
    
    <script src="/static/js/payments/shoping_checkout.js"></script>

</body>

</html>