<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/blog.css">

    <title>Hello, world!</title>
</head>

<body>
    <div class="layout">
        <div class="container pb-1">
            <div class="row">
                <div class="start col-6">
                    <a href="/" class="blog-link">
                        <div class="card">
                            <div class="img">
                                <img alt="" src="https://staging.cms.getpylon.com/uploads/solarrto_d5711c69ef.jpg">
                            </div>
                            <div class="card-body">
                                <div class="row-card">
                                    <div class="left uppercase small category">
                                        <p class="meta"> Solar Company </p>
                                    </div>
                                    <div class="right uppercase small category">
                                        <p class="meta">
                                            29 Sep 2021
                                        </p>
                                    </div>
                                </div>
                                <div class="blog-info">
                                    <h3>Pylon partners with Solar Training Centre to train students in Solar
                                        Design</h3>
                                    <p style="line-height: 1.7rem; color: black;">Pylon is proud to partner
                                        with Solar Training Centre to help students get free solar design
                                        software. Pylon is the perfect choice for solar design software for
                                        education providers.</p>
                                    <div style="display: none;">
                                        <div class="flex">
                                            <div><img
                                                    alt="Pylon partners with Solar Training Centre to train students in Solar Design"
                                                    src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                    class="avatar g-image" style="position: static;"></div>
                                            <div class="small category" style="margin-left: 10px;">
                                                <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="start col-6"><a href="/au/blog/pylon-proposals-spanish/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="Pylon Solar Design launches Solar Proposals in Spanish "
                                    src="https://staging.cms.getpylon.com/uploads/spanishproposals_33905b9ab0.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            28 Sep 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Pylon Solar Design launches Solar Proposals in Spanish </h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon offers Solar
                                    Proposals in Spanish as well as the default of English. Connect with
                                    solar customers and close more deals.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Pylon Solar Design launches Solar Proposals in Spanish "
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                {{!-- <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/self-consumption-solar-sales-design/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="How getting self-consumption right helps you close more solar sales"
                                    src="https://staging.cms.getpylon.com/uploads/self_Consumption_9517493f6f.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            07 Sep 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>How getting self-consumption right helps you close more solar sales
                                </h3>
                                <p style="line-height: 1.7rem; color: black;">What is self-consumption?
                                    Find out how you can convert more solar sales proposals by adjusting
                                    your solar system self-consumption to maximise ROI (return on
                                    investment).</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="How getting self-consumption right helps you close more solar sales"
                                                src="https://staging.cms.getpylon.com/uploads/1549900429722_f1b60b8c72.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Charles Guo</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/training-requirements-cec-accreditation/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="Training Requirements for CEC Accreditation"
                                    src="https://staging.cms.getpylon.com/uploads/blog_Cardtrainigcec_4d836ce264.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            training
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            27 Aug 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Training Requirements for CEC Accreditation</h3>
                                <p style="line-height: 1.7rem; color: black;">Becoming CEC accredited is
                                    important for solar installers in Australia to build trust with
                                    consumers. Use this guide to find out How to become CEC accredited.
                                </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Training Requirements for CEC Accreditation"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/who-are-cec-why-accreditation/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="Who are the Clean Energy Council and why do you need their accreditation?"
                                    src="https://staging.cms.getpylon.com/uploads/whoare_CEC_b22a85f248.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            27 Aug 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Who are the Clean Energy Council and why do you need their
                                    accreditation?</h3>
                                <p style="line-height: 1.7rem; color: black;">What is the Clean Energy
                                    Council in Australia? And why do they matter? Find out why in this
                                    helpful guide by Pylon.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="Who are the Clean Energy Council and why do you need their accreditation?"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/pylon-solar-design-available-usa/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="Pylon Solar Design Software available in the USA"
                                    src="https://staging.cms.getpylon.com/uploads/usa_8c37946300.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            24 Aug 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Pylon Solar Design Software available in the USA</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon Solar Design
                                    Software is pleased to be available in the USA, offering solar
                                    installers $0 Monthly Fees, hi-res aerial imagery, and advanced 3D
                                    shading features. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Pylon Solar Design Software available in the USA"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/pylon-wins-best-solar-innovation/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="Pylon wins Best Solar Innovation in Finder Innovation Awards 2021"
                                    src="https://staging.cms.getpylon.com/uploads/pylopn_Finder_737dd2b1c0.png"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            20 Aug 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Pylon wins Best Solar Innovation in Finder Innovation Awards 2021
                                </h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon is proud to win the
                                    Best Solar Innovation award from Finder, in recognition of the
                                    benefits of its 3D Solar Shading feature for solar installers. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="Pylon wins Best Solar Innovation in Finder Innovation Awards 2021"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/solar-design-aerial-imagery-usa/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="Top Solar Design Tools with Hi-res Imagery for American Solar Installers"
                                    src="https://staging.cms.getpylon.com/uploads/usa_c71b0c4362.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            12 Aug 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Top Solar Design Tools with Hi-res Imagery for American Solar
                                    Installers</h3>
                                <p style="line-height: 1.7rem; color: black;">Compare solar design
                                    software with hi-res imagery included in the United States of
                                    America. Get the best Solar Design software with hi-res aerial
                                    imagery in your area.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="Top Solar Design Tools with Hi-res Imagery for American Solar Installers"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/why-single-line-diagrams-solar/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="Why use Single Line Diagrams for your Solar Installation Business"
                                    src="https://staging.cms.getpylon.com/uploads/sldblog_6629d9c792.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            12 Aug 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Why use Single Line Diagrams for your Solar Installation Business
                                </h3>
                                <p style="line-height: 1.7rem; color: black;">Why should you use a
                                    Single Line Diagram for your solar installation business? Improve
                                    safety, speed of installation, and ease of maintenance with single
                                    line diagrams.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="Why use Single Line Diagrams for your Solar Installation Business"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/pylon-3d-solar-shading-in-seconds/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="How Pylon calculates solar shading in seconds"
                                    src="https://staging.cms.getpylon.com/uploads/shading_afcc8eb50a.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            11 Jul 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>How Pylon calculates solar shading in seconds</h3>
                                <p style="line-height: 1.7rem; color: black;">Learn how Pylon's novel 3D
                                    solar design feature works by using shadows and the angle of the sun
                                    to generate a 3D model of the install site. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="How Pylon calculates solar shading in seconds"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a
                        href="/au/blog/design-solar-blueprint-architectural-building-plans/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="How to Design Solar on Architectural Building Plans"
                                    src="https://staging.cms.getpylon.com/uploads/plans_6bd8118225.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            05 Jul 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>How to Design Solar on Architectural Building Plans</h3>
                                <p style="line-height: 1.7rem; color: black;">Design solar systems on
                                    architectural plans and blueprints using Pylon. Upload PDF, JPG and
                                    PNG files to create solar systems on homes that haven't even been
                                    built yet!</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="How to Design Solar on Architectural Building Plans"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/best-solar-design-software/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="The Top 5 Best Solar Design Software - Pylon, Aurora, HelioScope, SolarPlus, OpenSolar"
                                    src="https://staging.cms.getpylon.com/uploads/installersoftware_2a9c74d1bc.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            15 Jun 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>The Top 5 Best Solar Design Software - Pylon, Aurora, HelioScope,
                                    SolarPlus, OpenSolar</h3>
                                <p style="line-height: 1.7rem; color: black;">Compare the Top 5 Best
                                    Solar Design Software including Pylon, Aurora Solar, OpenSolar,
                                    HelioScope and SolarPlus.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="The Top 5 Best Solar Design Software - Pylon, Aurora, HelioScope, SolarPlus, OpenSolar"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/solar-sales-referral-program/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="How to create a Solar Sales Referral Program"
                                    src="https://staging.cms.getpylon.com/uploads/solarinstallsydney_a2297dcf8c.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            marketing
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            28 Apr 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>How to create a Solar Sales Referral Program</h3>
                                <p style="line-height: 1.7rem; color: black;">See examples of Solar
                                    Installation companies using a solar referral programme to generate
                                    more solar leads. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="How to create a Solar Sales Referral Program"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/guide-to-cec-accreditation-for-solar-in-2021/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="Guide to CEC Accreditation for Solar in 2021"
                                    src="https://staging.cms.getpylon.com/uploads/cec_d8dd12ad39.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            training
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            09 Mar 2021
                                        </p>
                                    </div>
                                </div>
                                <h3>Guide to CEC Accreditation for Solar in 2021</h3>
                                <p style="line-height: 1.7rem; color: black;">How do you gain CEC
                                    accreditation in Australia in 2021? Follow our 5-minute guide to
                                    accreditation today. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Guide to CEC Accreditation for Solar in 2021"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/Observer-Panel-Placement-Design/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="Improvements on Observer Panel Placement Design"
                                    src="https://staging.cms.getpylon.com/uploads/panels_8888ba5aa7.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            28 Oct 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>Improvements on Observer Panel Placement Design</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon has improved its
                                    solar panel placement technology that has decreased solar design
                                    times by up to 50%. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Improvements on Observer Panel Placement Design"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/panel-stringing/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="NEW: Panel Stringing"
                                    src="https://staging.cms.getpylon.com/uploads/stringing_fc0764edb2.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            19 Oct 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>NEW: Panel Stringing</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon is proud to announce
                                    a new feature: automatic panel stringing. Just select panels with
                                    your mouse in the order you would like them stringed.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="NEW: Panel Stringing"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/Annotations/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="NEW: Solar Design Annotations"
                                    src="https://staging.cms.getpylon.com/uploads/panelplacement_654e8d515e.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            16 Sep 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>NEW: Solar Design Annotations</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon is proud to announce
                                    a new feature: solar design annotations, where you can mark up a
                                    hi-res imagery to create better installer notes. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="NEW: Solar Design Annotations"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/single-line-diagram/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="NEW: Single Line Diagrams"
                                    src="https://staging.cms.getpylon.com/uploads/sld_c86cb1e39d.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            19 Aug 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>NEW: Single Line Diagrams</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon is proud to announce
                                    its new single line diagram feature which produces an annotated
                                    diagram to solar installer job sheets.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="NEW: Single Line Diagrams"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/job-sheets/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="NEW: Job Sheets for Solar Installers"
                                    src="https://staging.cms.getpylon.com/uploads/jobsheet_c11a45b287.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            12 Aug 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>NEW: Job Sheets for Solar Installers</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon is proud to announce
                                    a new feature for job sheets for solar installers, complete with
                                    annotated imagery and single line diagrams.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="NEW: Job Sheets for Solar Installers"
                                                src="https://staging.cms.getpylon.com/uploads/1617505725970_13b0c01dd4.jpeg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Oseh Mathias</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/new-checkout-experience/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="New Checkout Experience"
                                    src="https://staging.cms.getpylon.com/uploads/payment_gateway_thumbnail_c7c2e82e70.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            07 Aug 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>New Checkout Experience</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon's new checkout
                                    experience offers an integrated payment gateway to allow your
                                    customers to pay for invoices right from the proposal.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="New Checkout Experience"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/3D-Shading-Simulation/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="Solar Production based on 3D Shading Simulation"
                                    src="https://staging.cms.getpylon.com/uploads/shading_afcc8eb50a.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            09 Jul 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>Solar Production based on 3D Shading Simulation</h3>
                                <p style="line-height: 1.7rem; color: black;">Shading has a significant
                                    impact on the electricity production of a solar system and the
                                    outcome for the consumer. Shading prediction helps installers
                                    convert more proposals.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Solar Production based on 3D Shading Simulation"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/simulated-load-profiles/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="Simulated Load Profiles from User Uploaded Interval Data"
                                    src="https://staging.cms.getpylon.com/uploads/interval_cbc69b5fbc.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            25 Jun 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>Simulated Load Profiles from User Uploaded Interval Data</h3>
                                <p style="line-height: 1.7rem; color: black;">Rooftop solar systems are
                                    most effective when they're designed to meet the requirements of the
                                    household or commercial consumer. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Simulated Load Profiles from User Uploaded Interval Data"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/historical-imagery/" class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="NEW: Historical Imagery in Pylon Observer"
                                    src="https://staging.cms.getpylon.com/uploads/historical_80f51aa9cf.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            Pylon
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            21 May 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>NEW: Historical Imagery in Pylon Observer</h3>
                                <p style="line-height: 1.7rem; color: black;">Pylon is proud to announce
                                    a new feature in Observer: Historical imagery, where you can assess
                                    a site location using a range of aerial photographs throughout the
                                    year. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="NEW: Historical Imagery in Pylon Observer"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/solar-courses-melbourne-victoria/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="Solar Courses in Melbourne and Victoria"
                                    src="https://staging.cms.getpylon.com/uploads/melb_2d2b8303c0.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            training
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            19 Apr 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>Solar Courses in Melbourne and Victoria</h3>
                                <p style="line-height: 1.7rem; color: black;">Find solar courses in
                                    Melbourne, Victoria to help you become a licensed and CEC accredited
                                    solar installer. </p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="Solar Courses in Melbourne and Victoria"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/stc-trading-solar-installers-and-retailers/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="How does STC trading work? A Solar Installers and Retailers Guide to STCs"
                                    src="https://staging.cms.getpylon.com/uploads/stctrading_ad7b09d45e.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            10 Mar 2020
                                        </p>
                                    </div>
                                </div>
                                <h3>How does STC trading work? A Solar Installers and Retailers Guide to
                                    STCs</h3>
                                <p style="line-height: 1.7rem; color: black;">How to become a solar
                                    installer in Australia?
                                    Weve rounded up the core information to get you up and running and
                                    ready to install your first solar panel.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="How does STC trading work? A Solar Installers and Retailers Guide to STCs"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/empowering-homes-nsw-solar-installer-guid/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img
                                    alt="NSW Empowering Homes  A guide for solar installers and retailers"
                                    src="https://staging.cms.getpylon.com/uploads/3_eba5886375.jpg" class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            solar
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            06 Sep 2019
                                        </p>
                                    </div>
                                </div>
                                <h3>NSW Empowering Homes  A guide for solar installers and retailers
                                </h3>
                                <p style="line-height: 1.7rem; color: black;">The NSW Government funding
                                    up to 300,000 interest-free loans on solar-battery &amp; battery
                                    systems over the next 10 years as a part of their larger NSW solar
                                    rebate initiative.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img
                                                alt="NSW Empowering Homes  A guide for solar installers and retailers"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-6 pt-1 pb-1 pl-1 pr-1"><a href="/au/blog/commbank-green-mortgage-500-cashback/"
                        class="blog-link">
                        <div
                            style="vertical-align: middle; border: 1px solid rgba(211, 211, 211, 0.28); border-top-right-radius: 6px; border-top-left-radius: 6px; height: 100%;">
                            <div style="display: flex;"><img alt="CommBank $500 Green Mortgage Cashback"
                                    src="https://staging.cms.getpylon.com/uploads/commbank_e390764510.jpg"
                                    class="g-image"
                                    style="width: 100%; border-top-right-radius: 5px; border-top-left-radius: 5px;">
                            </div>
                            <div class="card-body" style="border-top: 1px solid lightgrey;">
                                <div class="row" style="justify-content: space-between;">
                                    <div class="left uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            marketing
                                        </p>
                                    </div>
                                    <div class="right uppercase small category" style="margin-bottom: 0px;">
                                        <p class="meta">
                                            12 Aug 2019
                                        </p>
                                    </div>
                                </div>
                                <h3>CommBank $500 Green Mortgage Cashback</h3>
                                <p style="line-height: 1.7rem; color: black;">Til the 13th of September,
                                    if your customer has a CommBank Home Loan and a 5kW or larger system
                                    they can apply for a $500 cash back. Find out more.</p>
                                <div style="display: none;">
                                    <div class="flex">
                                        <div><img alt="CommBank $500 Green Mortgage Cashback"
                                                src="https://staging.cms.getpylon.com/uploads/00000_PORTRAIT_00000_BURST_20191104163829621_4dacf748dd.jpg"
                                                class="avatar g-image" style="position: static;"></div>
                                        <div class="small category" style="margin-left: 10px;">
                                            <p style="margin-top: 5px;"><strong>Alan Lam</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div> --}}
            </div>
        </div>
        <section class="section section--cta">
            <div class="container">
                <div class="row">
                    <div class="col-12 center">
                        <h2>Want more helpful resources?</h2>
                        <p>
                            Get additional documents, guides and tips as they become available
                        </p>
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet"
                            type="text/css">
                        <div class="col-6 margin-auto">
                            <div id="mc_embed_signup">
                                <form id="mc-embedded-subscribe-form"
                                    action="https://conm.us1.list-manage.com/subscribe/post?u=9871dd2dc57226d3995a0c19b&amp;id=772a37591a"
                                    method="post" name="mc-embedded-subscribe-form" target="_blank"
                                    novalidate="novalidate" class="validate">
                                    <div id="mc_embed_signup_scroll">
                                        <div class="mc-field-group"><label for="mce-FNAME">Full Name </label><input
                                                id="mce-FNAME" type="text" value="" name="FNAME"></div>
                                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address *
                                            </label><input id="mce-EMAIL" type="email" value="" name="EMAIL"
                                                class="required email"></div>
                                        <div id="mce-responses" class="clear">
                                            <div id="mce-error-response" class="response" style="display: none;"></div>
                                            <div id="mce-success-response" class="response" style="display: none;">
                                            </div>
                                        </div>
                                        <div aria-hidden="true" style="position: absolute; left: -5000px;"><input
                                                type="text" name="b_9871dd2dc57226d3995a0c19b_772a37591a" tabindex="-1"
                                                value=""></div>
                                        <div class="clear"><input id="mc-embedded-subscribe" type="submit"
                                                value="Subscribe" name="subscribe" class="btn btn-cta"
                                                style="margin: 0px;">
                                            <div style="height: 100px;">&nbsp;</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>