<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Solar Project</title>
</head>

<body>
  <div class="nav" id="navbar">
    <div class="nav-set">
      <div class="nav-logo">
        <a class="logo" href="./">
          <img src="/static/img/logo9.jpg" alt="">
        </a>
      </div>
      <div class="text">
        <a href="/"><h1> Solar <span> Zone </span></h1></a>
      </div>
    </div>
    <div class="button">
      <a href="./signin"><button class="btn btn-outline-primary">Sign In</button></a>
    </div>
  </div>

  {{!-- Slider Started here --}}
  <section class="slider" id="slider">
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../static/img/img4.jpg" class="d-block" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h2>Commercial Solar System</h2>
            <p>Reduce your electric bill with solar energy!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/bg11.jpg" class="d-block" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h2>Residential Solar System</h2>
            <p>We make it easy and affordable!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../static/img/img78.jpg" class="d-block" alt="">
          <div class="carousel-caption d-none d-md-block">
            <h2>Solar System</h2>
            <p>Reduce your electric bill with solar energy.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  {{!-- section Started here --}}
  <section class="info">
    <div class="first">
      <div class="para">
        <h2 class="heading">What is Solar panel ?</h2>
        <p>A solar cell panel, solar electric panel, photo-voltaic (PV) module or just solar panel is an assembly of
          photo-voltaic cells mounted in a framework for installation. Solar panels use sunlight as a source of energy
          to generate direct current electricity. A collection of PV modules is called a PV panel, and a system of PV
          panels is called an array. Arrays of a photovoltaic system supply solar electricity to electrical equipment.
        </p>
        <p>
          Photovoltaic modules use light energy (photons) from the Sun to generate electricity through the photovoltaic
          effect. Most modules use wafer-based crystalline silicon cells or thin-film cells. The structural (load
          carrying) member of a module can be either the top layer or the back layer. Cells must be protected from
          mechanical damage and moisture. Most modules are rigid, but semi-flexible ones based on thin-film cells are
          also available. The cells are usually connected electrically in series, one to another to the desired voltage,
          and then in parallel to increase current. The power (in watts) of the module is the mathematical product of
          the voltage (in volts) and the current (in amperes) of the module. The manufacture specifications on solar
          panels are obtained under standard condition which is not the real operating condition the solar panels are
          exposed to on the installation site.</p>
      </div>
      <div class="img">
        <img src="../static/img/img79.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="info">
    <div class="first second">
      <div class="para">
        <h2>Get the Most From Your Solar <br> Panels with Lithium Ion Batteries</h2>
        <p>Solar Company provides expert installation of backup battery power solutions that are sufficient for handling
          most residential needs, (including refrigerators, computers, televisions, alarm systems, and electrical
          outlets). Advanced systems are even capable of handling heavier loads, such as heating and cooling systems,
          washers and dryers, and more.</p>
        <p>
          With our turnkey renewable energy services, we can design a system from scratch that includes the solar panel
          procurement and installation. For those who already have solar panels and wish to upgrade their system with a
          lithium-ion battery backup system for their existing solar panels, we will take into account your lifestyle,
          budget, and existing system to choose the perfect battery storage unit for your needs.</p>
      </div>
      <div class="img">
        <img src="../static/img/bg10.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="info">
    <div class="first third">
      <div class="para">
        <h2>Our Partnerships</h2>
        <p>Our professional partnerships allow us to be on the forefront of innovation and help you support the green
          initiative with minimal upfront costs.</p>
        <div class="parternship1">
          <div class="partner">
            <img src="/static/img/logo5.png" alt="">
          </div>
          <div class="partner">
            <img src="/static/img/logo6.png" alt="">
          </div>
        </div>
        <div class="parternship2">
          <div class="partner">
            <img src="/static/img/logo7.jpg" alt="">
          </div>
          <div class="partner">
            <img src="/static/img/logo8.png" alt="">
          </div>
        </div>
      </div>
      <div class="img">
        <img src="../static/img/img78.jpg" alt="">
      </div>
    </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>