*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#service-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: center / cover no-repeat url("/static/img/bg8.jpg");
    height: 80vh;
}

#service-section h1{
    font-size: 64px;
}

#service-section p{
    font-size: 30px;
}

.info .first{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* max-width: 80%; */
    /* margin:0px auto; */
    /* margin-left: 10px; */
    padding: 0px 0px;
}

.info .first .para {
    max-width: 35%;
    padding: 0px 0px;
    padding-left: 10px;
    /* margin-right: 10px; */
    /* text-align: center; */
    /* font-size: 18px; */
}

.info .first .para .service a{
    color: green;
    font-weight: bold;
    padding: 10px 0px;
}

.info .first .para .service a:hover{
    transform: scale(1.02);
}


.info .first .img {
    max-width: 70%;
    padding: 0px 0px;
    /* text-align: center; */
    /* margin: auto; */
}

.info .first .img img{
    padding: 0px 0px;
    height: 95vh;
    width: 68vw;
}

.info .second{
    flex-direction: row-reverse;
}

.info .second .parternship1{
    display: flex;
    justify-content: center
}

.info .second .parternship2{
    display: flex;
    justify-content: center
}

.info .second .partner{
    width: 40%;
}


/* responsive */

@media screen and (max-width: 1120px) {

    html {
        font-size: 14px;
    }

}

@media screen and (max-width: 900px) {

    .info .first {
        flex-direction: column;
        align-items: center;
        margin: 0.6rem 0rem;
        padding: 1rem 2rem;
    }

    .info .first .para {
        max-width: 100%;
    }

    .info .first .img {
        max-width: 100%;
    }
     
    .info .first .img img {
        height: auto;
    }

}