<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css//navbar/about.css">

    <title>About</title>
</head>

<body>
    <section id="about">
        <div class="container">
            <h1>Fastest Growing Solar Company in the Midwest and Texas</h1>
            <p></p>
        </div>
    </section>
    <section class="info">
        <div class="first">
            <div class="para">
                <h2>Our Story</h2>
                <p>
                    In 2010, Solar Company, introduced an Engineer, Furnish & Install (EF&I) concept to our solar
                    customers in
                    london.</p>
                <p>
                    Solar specialises in the design and installation of grid-connected solar systems for residential and
                    commercial properties. We supply and install a comprehensive range of Clean Energy Council (CEC)
                    approved products, creating custom systems that are designed to meet the specific needs of
                    individual customers.</p>
                <p>
                    This philosophy, coupled with our “safety first” service staff and direct sales, have been the key
                    to
                    our success. Continued demand for Solar Company services has allowed us to branch out horizontally
                    into other offerings, including electrical, telecommunications, and batteries to fully complement
                    our customers’ expectations.</p>
                
            </div>
            <div class="img">
                <img src="/static/img/img7.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="info">
        <div class="first second">
            <div class="para">
                <h2>Committed to Safety</h2>
                <p>
                    Our commitment to safety is at the forefront of our company goals. We adhere to a Zero Incident
                    Policy (ZIP), which includes constant ongoing safety training with strict operating guidelines.</p>

                <h1>Supporting Local Business</h1>
                <p>
                    Wherever possible, Solar Company utilizes Made in London solar components for our systems. We know
                    that our efforts in the Midwest are helping to spur the renewable energy industry.</p>

            </div>
            <div class="img">
                <img src="/static/img/img17.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="info">
        <div class="first third">
            <div class="para">
                <h2>Safety Certifications</h2>
                <p>
                    OSHA 10</p>
                <p>
                    RF Certification</p>
                <p>
                    First Aid Hands On Certification</p>
                <p>
                    CPR Hands On Certification</p>
                <p>
                    Inventory Management Certification</p>
                <p>
                    Asbestos Awareness Certification</p>
                <p>
                    Master Electrician</p>
                <p>
                    LTE Certification</p>
            </div>
            <div class="img">
                <img src="/static/img/img19.jpeg" alt="">
            </div>
        </div>
    </section>
    <section class="info">
        <div class="first four">
            <div class="para">
                <h2>Recipe for Success</h2>
                <p>
                    We pride ourselves on our quality of service, installation, and procurement. Certified with leading industry manufacturers, we procure on a timely basis all associated products and materials needed to complete your job.</p>
                <p>
                    Our service doesn’t stop after installation—our factory trained, certified technicians are dedicated to helping you maintain and inspect your system on a routine basis, helping you spot any issues early and provide timely service.</p>
                
            </div>
            <div class="img">
                <img src="/static/img/img14.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="info">
        <div class="first five">
            <div class="para">
                <h2>Solar Company Difference</h2>
                <p>
                    Solar Company services Michigan from our southern most cities all the way to the very tip of the Upper Peninsula. From assisting business owners considering solar to help offset energy costs to helping homeowners looking to decrease their carbon footprint, we have been championing the push towards renewable energy since 2010. Call us today for a Free Solar Survey and to experience Solar Company Difference for yourself.</p>
            </div>
            <div class="img">
                <img src="/static/img/img15.jpg" alt="">
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>

</body>

</html>