<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css//navbar/contact.css">

    <title>Contact</title>
</head>

<body>
    <section id="contact">
        <div class="container">
            <h1>Contact Us</h1>
            <p>Get in touch with Solar Project today!</p>

        </div>
    </section>
    <section class="contact-section">
        <h1>CONTACT INFORMATION</h1>
        <p>Every customer’s energy needs are different. We will work patiently and conscientiously with you to
            understand your energy challenges and deliver a customised solution that addresses your objectives.</p>

        <p>Call us at 1800 123 786, email solarzone@gmail.com or use the email form below.</p>

        <p>We will contact you as quickly as possible.</p>

        <p>Thank you!</p>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>


</body>

</html>