<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/services/service.css">
    <title>Solar Project</title>
</head>

<body>
    <section id="service-section">
        <h1>Solar Project</h1>
        <p>Smart Homeowners are Going Solar</p>
    </section>
    <section class="info">
        <div class="first">
            <div class="para">
                <h2>Our Services</h2>
                <h5>We have a team of certified experts, ready to assist you with all your solar inquiries and needs.
                    Learn more about what we offer:</h5>
                <div class="service">
                    <a class="dropdown-item" href="#">SOLAR POWER RENEWABLE ENERGY</a>
                </div>
                <div class="service">
                    <a class="dropdown-item" href="#">BATTERY BACKUP SYSTEMS</a>
                </div>
                <div class="service">
                    <a class="dropdown-item" href="#">ELECTRICAL SERVICES</a>
                </div>
                <div class="service">
                    <a class="dropdown-item" href="#">SOLAR CARPORTS</a>
                </div>
                <div class="service">
                    <a class="dropdown-item" href="#">ELECTRIC VEHICLE CHARGING STATIONS</a>
                </div>
                <div class="service">
                    <a class="dropdown-item" href="#">GENERATOR-INSTALLATION</a>
                </div>
            </div>
            <div class="img">
                <img src="../static/img/img20.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="info">
    <div class="first second">
      <div class="para">
        <h2>Our Partnerships</h2>
        <div class="parternship1">
          <div class="partner">
            <img src="/static/img/logo5.png" alt="">
          </div>
          <div class="partner">
            <img src="/static/img/logo6.png" alt="">
          </div>
        </div>
        <div class="parternship2">
          <div class="partner">
            <img src="/static/img/logo7.jpg" alt="">
          </div>
          <div class="partner">
            <img src="/static/img/logo8.png" alt="">
          </div>
        </div>

      </div>
      <div class="img">
        <img src="../static/img/img35.jpg" alt="">
      </div>
    </div>
  </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>